<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


{% load static %}
<link rel="stylesheet"  href="{% static 'css/desktop.css' %}" type="text/css">
<link rel="stylesheet"  href="{% static 'css/mobile.css' %}" type="text/css">
</head>
<style>


</style>

<body>
<div class="chatbody">
<h1 class="title">kittu bot</h1>
<form method="POST" action="">
	{% csrf_token %}

<div class="chat_box">{{data.idnum}}</br></div>
<div class="userchat">User:{{data.user}}</br></div>
<div class="chat_box2">Kittu:{{data.kittu}}</div>

<input type="text" class="entered_text"></input>
<button class="send_converstion">send</button>
</div>
</body>
</html>