
<html>
<head>

{% load static %}
<link rel="stylesheet"  href="{% static 'css/desktop.css' %}" type="text/css">
</head>
<style>
.title{
font-size:30px;
position:absolute;
top:-5px;
right:45%;
-webkit-text-fill-color:#ff007f;
}
</style>
<body>
<div class="chatbody">
<center><div class="title"><h2>kittu bot</h2></div></center>
<form method="POST" action="">
	{% csrf_token %}

<div class="chat_box">{{data.idnum}}</br></div>
<div class="userchat">User:{{data.user}}</br></div>
<div class="chat_box2">Kittu:{{data.kittu}}</div>


<input type="text" class="entered_text" placeholder="enter upto 20 numbers only" name="input"></input>
<button class="send_converstion">send</button>
</form>

</div>
</body>
</html>